ENTRA_TENANT_ID=
ENTRA_NOTEBOOK_CLIENT_ID=
ENTRA_AGENT_A_CLIENT_ID=
ENTRA_AGENT_A_CLIENT_SECRET=
ENTRA_AGENT_A_APPLICATION_ID_URI=
ENTRA_AGENT_A_SCOPE=
ENTRA_AGENT_A_EXPECTED_AUDIENCE=
ENTRA_AGENT_B_CLIENT_ID=
ENTRA_AGENT_B_APPLICATION_ID_URI=
ENTRA_AGENT_B_SCOPE=
ENTRA_AGENT_B_EXPECTED_AUDIENCE=
